$turqouise: #56e6af; 
$turqouise-light: rgb(179, 255, 226);
$martinique: hsl(225, 26%, 23%);
$mirage: #121725;
$white: rgb(255, 255, 255);
$waikawa-grey: rgb(90, 102, 138);
$periwinkle-grey: rgb(194, 203, 229);
$error: rgb(251, 62, 62);