@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;700;900&display=swap');

$ff-chivo: 'Chivo', 'sans-serif';

$ff-light: 300;
$ff-bold: 700;
$ff-black: 900;

$sm-txt: 18px;
$sm-line: 28px;

$lg-txt: 52px;
$lg-line: 62px;


