.request-access-form{
    margin-top: 50px;
    & input {
        background-color: $blue-grey;
        color: white;
        border: none;
        height: 46px;
        width: 320px;
        border-radius: 30px;
        text-indent: 20px;
        outline: none;

        &::placeholder{
            color: white;
        }
        @include tablet {
            width: 400px; 
        }
    }
}

.email-error{
    display: none;
    color: $error;
    font-weight: $ff-bold;
    width: 282px;
    text-align: left;
    margin: auto;
}