.spotify{
    width: 96px;
    height: 29px;
}
.apple{
    width: 78px;
    height: 29px;
}
.google{
    width: 125px;
    height: 18px;
}
.podcast{
    width: 129px;
    height: 26px;
}

.logo{
    width: 135px;
    height: 56px;
}

.bg-pattern{
    width: 232px;
    height: 104px;
}