.request-form{
    color: white;
    text-align: center;
    margin-top: 40px;
    input{
        padding-left: 20px;
    }
    & #email{
        border: 0;
        width: 280px;
        height: 46px;
        background-color: $martinique;
        border-radius: 50px;
        color: white;

        &:focus {
            outline: 0;
            outline-color: transparent;
            outline-style: none;
        }
    }
    .email-error{
        display: none;
        color: $error;
        padding-left: 18px;
        margin: 0;
    }
}

@include tablet-landscape-breakpoint {
    .request-form {
        & #email {
            width: 430px;
        }
    }
    form{
        position: absolute;
        top: 80%;
        left: 0;
        margin: 50px 40px;
    }
}
