body{
    height: 100vh;
    background-color: $dark-navy;
    background-image: url("../assets/mobile/image-host.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-blend-mode: overlay;
    color: $light-grey;
}