body{
    font-family: $ff-ss;
    background-color: $dark-navy;
    background-image: url("./assets/mobile/image-host.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-blend-mode: overlay;
    color: $light-grey;
    text-align: center;
} 

.logo {
    margin: 40px auto;
}

.content {
    margin: 50px auto;
    width: 327px;
}

.title{
    font-size: $title-size-S;
    font-weight: $ff-light;
    text-transform: uppercase;
    line-height: $line-height-S;
    width: 327px;
    margin: auto;

    & span {
        color: $lime-green;
    }
}

.sub-text {
    margin: 50px 0px;
    font-size: $text-size-S;
}

.mobile-social-media-list{
    width: 100%;

    & img {
        margin: 0px 5px;
    }
}

.tablet-desktop-media-list{
    display: none;
}



//tablet breakpoint 

@include tablet {
    body {
        background-image: url("./assets/tablet/image-host.jpg"), url("./assets/desktop/bg-pattern-dots.svg");
        background-repeat: no-repeat, no-repeat;
        background-size: 300px, 150px;
        background-position-x: right, left;
        background-position-y: top, bottom;
        background-blend-mode: normal;
        height: 93vh;
    }
    .content {
        margin: 50px 0px 0px 40px;
        text-align: left;
        background-color: $dark-navy;
        width: 80%;
    }

    .logo{
        margin: 30px 20px;
    }

    .title{
        margin: 0px;
    }

    .sub-text {
        max-width: 85%;
        margin: 30px 0px;
    }

    .mobile-social-media-list{
        display: none;
    }
    
    .tablet-desktop-media-list{
        display: block;

        & img {
            margin: 15px 10px;
        }
    }
}

@include laptop {
    body {
        display: none;
    }
}