@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@300;700&display=swap");
.request-access-form {
  margin-top: 50px;
}

.request-access-form input {
  background-color: #5A668A;
  color: white;
  border: none;
  height: 46px;
  width: 320px;
  border-radius: 30px;
  text-indent: 20px;
  outline: none;
}

.request-access-form input::-webkit-input-placeholder {
  color: white;
}

.request-access-form input:-ms-input-placeholder {
  color: white;
}

.request-access-form input::-ms-input-placeholder {
  color: white;
}

.request-access-form input::placeholder {
  color: white;
}

.email-error {
  display: none;
  color: #FB3E3E;
  font-weight: 700;
  width: 282px;
  text-align: left;
  margin: auto;
}

@media (min-width: 425px) {
  .request-access-form {
    margin: 40px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .request-access-form input {
    outline: none;
    width: 85%;
    height: 56px;
  }
}

button {
  margin: 0;
  padding: 0;
  outline: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.request-btn {
  background-color: #54E6AF;
  border: none;
  height: 46px;
  width: 320px;
  border-radius: 30px;
  font-weight: 700;
  font-size: 15px;
  line-height: 38px;
  margin-top: 15px;
  -webkit-transition: background-color ease-in-out .5s;
  transition: background-color ease-in-out .5s;
}

.request-btn:hover {
  cursor: pointer;
  background-color: #B3FFE2;
  -webkit-transition: background-color ease-in-out .5s;
  transition: background-color ease-in-out .5s;
}

@media (min-width: 425px) {
  .request-btn {
    margin: 0px 0px 0px -168px;
    width: 162px;
    position: -webkit-sticky;
    position: sticky;
  }
}

.spotify {
  width: 56px;
  height: 17px;
}

.apple {
  width: 46px;
  height: 17px;
}

.google {
  width: 73px;
  height: 11px;
}

.podcast {
  width: 77px;
  height: 15px;
}

.logo-icon {
  width: 96px;
  height: 40px;
}

@media (min-width: 425px) {
  .spotify {
    width: 96px;
    height: 29px;
  }
  .apple {
    width: 78px;
    height: 29px;
  }
  .google {
    width: 125px;
    height: 18px;
  }
  .podcast {
    width: 129px;
    height: 26px;
  }
  .logo {
    width: 135px;
    height: 56px;
  }
  .bg-pattern {
    width: 232px;
    height: 104px;
  }
}

body {
  font-family: "Chivo", "sans-serif";
  background-color: #121725;
  background-image: url("./assets/mobile/image-host.jpg");
  background-repeat: no-repeat;
  background-size: 100% 105vh;
  background-blend-mode: overlay;
  color: #C2CBE5;
  text-align: center;
  height: 100vh;
  overflow-y: hidden;
}

.logo {
  margin: 40px auto;
}

.content {
  margin: 50px auto;
  width: 327px;
}

.title {
  font-size: 26px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 38px;
  width: 327px;
  margin: auto;
}

.title span {
  color: #54E6AF;
}

.sub-text {
  margin: 50px 0px;
  font-size: 15px;
}

.mobile-social-media-list {
  width: 100%;
}

.mobile-social-media-list img {
  margin: 0px 5px;
}

.tablet-desktop-media-list {
  display: none;
}

@media (min-width: 425px) {
  body {
    background-image: url("./assets/tablet/image-host.jpg"), url("./assets/desktop/bg-pattern-dots.svg");
    background-repeat: no-repeat, no-repeat;
    background-size: 300px, 200px;
    background-position-x: right, left;
    background-position-y: top, 90%;
    background-blend-mode: normal;
  }
  .content {
    margin: 50px 0px 0px 40px;
    text-align: left;
    background-color: #121725;
    width: 80%;
  }
  .logo {
    margin: 30px 20px;
  }
  .title {
    margin: 0px;
  }
  .sub-text {
    max-width: 85%;
    margin: 30px 0px;
  }
  .mobile-social-media-list {
    display: none;
  }
  .tablet-desktop-media-list {
    display: block;
  }
  .tablet-desktop-media-list img {
    margin: 15px 10px;
  }
}

@media (min-width: 769px) {
  body {
    background-image: url("./assets/desktop/bg-pattern-dots.svg"), url("./assets/desktop/image-host.jpg");
    background-repeat: no-repeat, no-repeat;
    background-size: 250px, 500px;
    background-position-x: right, right;
    background-position-y: 80%, 30%;
    background-blend-mode: normal;
  }
  .content {
    width: 60%;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=main.css.map */